
<form>
  <div class="container" style="margin-top:25px; padding-bottom:5px">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="razonsocial">Razon Social</label>
        <input type="text" class="form-control" id="razonsocial" placeholder="razonsocial" [(ngModel)]="escribania.razonsocial" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group col-md-6">
        <label for="actividad">Actividad</label>
        <input type="actividad" class="form-control" id="actividad" placeholder="Actividad" [(ngModel)]="escribania.actividad" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cuit">CUIT</label>
        <input type="cuit" class="form-control" id="cuit" placeholder="CUIT" [(ngModel)]="escribania.cuit" [ngModelOptions]="{standalone: true}" readonly>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputAddress">Direccion</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Direccion" [(ngModel)]="escribania.direccion" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCiudad">Ciudad</label>
        <input type="text" class="form-control" id="inputCiudad" [(ngModel)]="escribania.ciudad" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group col-md-4">
        <label for="inputProvincia">Provincia</label>
        <input type="text" class="form-control" id="inputProvincia" [(ngModel)]="escribania.provincia" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group col-md-6">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" [(ngModel)]="escribania.telefono" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="escribania.email">
      </div>
    </div>
    
    <button type="submit" class="btn btn-primary" (click)="editar(actualizar)">Guardar Cambios</button>
  </div>
</form>
