<form>
  <div class="container" style="margin-top:25px; padding-bottom:5px">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nombre">Nombre</label>
        <input type="nombre" class="form-control" id="nombre" placeholder="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="apellido">Apellido</label>
        <input type="apellido" class="form-control" id="apellido" placeholder="Apellido">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="cuit">CUIT</label>
        <input type="cuit" class="form-control" id="cuit" placeholder="CUIT">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputAddress">Direccion</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Direccion">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCiudad">Ciudad</label>
        <input type="text" class="form-control" id="inputCiudad">
      </div>
      <div class="form-group col-md-4">
        <label for="inputProvincia">Provincia</label>
        <input type="text" class="form-control" id="inputProvincia">
      </div>
      <div class="form-group col-md-6">
        <label for="inputState">Pais</label>
        <select id="inputState" class="form-control">
          <option selected>Choose...</option>
          <option>Argentina</option>
          <option>Chile</option>
          <option>Uruguay</option>
          <option>Paraguay</option>
          <option>Brasil</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputAbogado">Abogado</label>
        <input type="text" class="form-control" id="inputAbogado">
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Alta</button>
  </div>
</form>
