<div class="container">
  <h1>Bienvenido</h1>
  <div class="col-md-6 offset-md-3">
  <div class="card">
    <div class="card-body">
      <form action="/action_page.php">
        <div class="form-group">
            <label for="uname">CUIT:</label>
            <input type="text" class="form-control" [(ngModel)]="username" placeholder="Ingrese CUIT" name="CUIT" required>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="Ingrese password" name="pswd" required>
          </div>
          <div class="text-center">
            <button mat-raised-button color="primary" (click)="ingresar(username.Value, password.Value)">Ingresar</button>
          </div>
      </form>
    </div>
  </div>
  </div>  
</div>