<div fxLayout="row">
  <div fxFlex></div>
  <mat-card fxFlex="600px">
<mat-list>
    <h1>Administracion de escribanias</h1>
     <div>
        <a>Gonzalez</a>
        <span class="flex-spacer"></span>
        <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Ver</a>
        <span class="flex-spacer"></span>
        <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Modificar</a>
        <span class="flex-spacer"></span>
        <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Borrar</a>
      </div>

      <div>
          <a>Perez        </a>
          <span class="flex-spacer"></span>
          <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Ver</a>
          <span class="flex-spacer"></span>
          <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Modificar</a>
          <span class="flex-spacer"></span>
          <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Borrar</a>
        </div>

        <div>
            <a>Ramirez</a>
            <span class="flex-spacer"></span>
            <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Ver</a>
            <span class="flex-spacer"></span>
            <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Modificar</a>
            <span class="flex-spacer"></span>
            <a mat-raised-button routerLink="/manager/home" routerLinkActive="active-link">Borrar</a>
          </div>   

</mat-list>
</mat-card>
<div fxFlex></div>
</div>

