<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Escribanias disponibles</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar"
          aria-describedby="basic-addon2">
        <div class="input-group-append">
          <span class="table-add float-center mr-2 ml-2"><a (click)="alta()" class="text-success"><i
                class="fa fa-plus fa-2x" aria-hidden="true"></i></a></span>
        </div>
      </div>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Denominación</th>
            <th class="text-center">CUIL/CUIT</th>
            <th class="text-center">Email</th>
            <th class="text-center">Dirección</th>
            <th class="text-center">Ciudad</th>
            <th class="text-center">Ver Mas</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr ng-repeat="escribania in Escribanias"> -->
          <!-- Registro clonable -->
          <tr *ngFor="let escribania of listaEscribanias.slice(1)" [attr.cuit]="escribania.cuit">
            <td class="pt-3-half" contenteditable="false">{{escribania.razonsocial}}</td>
            <td class="pt-3-half" contenteditable="false">{{escribania.cuit}}</td> 
            <td class="pt-3-half" contenteditable="false">{{escribania.email}}</td>
            <td class="pt-3-half" contenteditable="false">{{escribania.direccion}}</td>
            <td class="pt-3-half" contenteditable="false">{{escribania.ciudad}}</td>
            <td class="pt-3-half"><a (click)="editar(escribania.cuit)" class="indigo-text"><i class="fa fa-eye"></i></a></td>
            <td class="pt-3-half">
              <span class="table-edit"><a (click)="editar(escribania.cuit)" class="indigo-text"><i class="fa fa-edit"></i></a></span>
            </td>
            <td class="pt-3-half">
                <button id="remove" class="indigo-text" class="table-remove" aria-hidden="true" class="fa fa-trash" (click)="deleteRow(escribania.cuit)"></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>